:root {
    --main-black: rgb(17, 16, 16);
    --main-faded: rgba(250, 250, 250, 0.918);
    --main-light-lightgrey: rgb(240, 240, 240);
    --main-lightgrey: rgb(197, 197, 197);
    --main-grey: rgb(161, 161, 161);
    --main-darkgrey: rgb(104, 104, 104);
    --horizontal-padding: min(3vw, 20px);
    --vertical-spacing-larger: 3vh;
    --vertical-spacing-large: 2vh;
    --vertical-spacing-normal: 1vh;
    --vertical-spacing-slight: 0.5vh;
    --font-size-header: 1.62rem;
    --font-size-normal: 1rem;
    --font-size-larger: 1.2rem;

    --sheet-width: 100vw - 4vw;

    --item-title-width: 80px;
}

html {
    cursor: url('./res/cursor-circle.png'), auto;	
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
    height: 100%;
    width: 100%;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
    height: 100vh;
    transition: opacity 0.3s ease-in;
}

.clickable-data > * {
    margin-top: var(--vertical-spacing-normal);
    margin-bottom: var(--vertical-spacing-normal);
}

.hero {
    padding-top: 30vh;
    padding-bottom: 20vh;
    font-size: var(--font-size-header);
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: column;
}

.lastseen {
    color: var(--main-grey);
    margin-bottom: var(--vertical-spacing-large);
}

.loadcover {
    background: red;
}

.clickable {
    font-weight: 500;
    font-size: var(--font-size-larger);
    border-width: 0;
    border-bottom-width: 1.3px;
    width: max-content;
    border-color: var(--main-grey);
    border-style: solid;
    opacity: 1;
    transition: opacity 0.2s ease-in-out
}

.clickable:hover {
    opacity: 0.5;
}

.clickable-data {
    margin-top: var(--vertical-spacing-normal);
}

.info-wrapper {
    margin-bottom: var(--vertical-spacing-larger);
}

.info-item {
    display: flex;
    margin: 0;
    margin-top: var(--vertical-spacing-slight);
    font-size: var(--font-size-normal);
    color: var(--main-grey);
}

.info-title {
    position: absolute;
    color: var(--main-lightgrey);
    padding: 2px;
}

.values-wrapper {
    margin-left: var(--item-title-width);
    flex-wrap: wrap;
    display: flex
}

.info-value {
    background-color: var(--main-light-lightgrey);
    padding-top: 2px;
    border-radius: 5px;
    margin-right: 4px;
    margin-bottom: 4px; 
}

.bottomsheet {
    box-sizing: border-box;
    position: fixed;
    bottom: -10vh;
    width: 100vw;
    height: 0;
    background-color: var(--main-faded);
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottomsheet-container {
    display: flex;
    flex-direction: column;
    padding: var(--horizontal-padding);
    height: 200vh;
    width: var(--sheet-width)
}

@media only screen and (min-width: 1079px) {
    .bottomsheet-container {
        padding: 10vw;
    }
  }

.sheet-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: var(--vertical-spacing-larger);
}

.shit {
    color: rgb(141, 141, 141);
    line-height: 20px;
    border-radius: 10px;
}

.hide {
    height: 84vh;
}

.info-logo {
    width: min(20vw, 100px);
}

.project-header {
    color: var(--main-black);
    font-size: var(--font-size-normal);
    font-weight: 500;
    border-width: 0;
    border-left-width: 2px;
    border-style: solid;
    padding-left: var(--horizontal-padding);
}

.images-wrapper {
    padding: 10px;
}

.project-image-wide {
    width: min(100%, 500px);
    border-radius: 10px;
}

#protea-img-1 {
}

.footer {
    box-sizing: border-box;
    width: 100vw;
    margin-top: var(--vertical-spacing-larger);
    padding: var(--horizontal-padding);
    height: min-content;
    background-color: var(--main-faded);
    color: rgb(164, 164, 164);
}

.footer-links {
    margin-top: var(--vertical-spacing-larger);
    display: flex;
    justify-content: space-between;
}

.links-wrapper {
    display: flex;
}

.link {
    text-decoration: none;
    color: var(--main-black);
    font-weight: bold;
    font-size: var(--font-size-larger);
    margin-right: 3vw;
}

.bold {
    font-weight: bold;
}

.copyRight {
    font-size: var(--font-size-larger);
    color: var(--main-black);
}

.emoji-small {
    font-size: var(--font-size-normal);
}

.pop-in {
    animation: fadeInAnimation 1s ease 1, pop-in 0.2s ease-in 1;
}

.fade-in {
    animation: fadeInAnimation 2s ease 1;
}

.faded {
    opacity: 0.25;
}

.headerText {
    font-size: var(--font-size-larger);
    color: var(--main-grey);
}

.hoverable {
    transition-delay: 0.2s;
    transition: all 0.2s ease-in;
}

.hoverable:hover {
    margin-left: 5px;
    margin-right: 10px;
}

.box-shadow {
    box-shadow: 0 0 5px  rgb(203, 203, 203);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop-in {
    50% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

a {
    color: inherit;
}

::selection {
    background: #ffb7b7;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7;
    /* Gecko Browsers */
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.brag-text {
    margin-top: var(--vertical-spacing-larger);
    margin-bottom: var(--vertical-spacing-normal);
}

li {
    color: var(--main-grey);
    list-style-type: none;
}

.button {
    margin-top: var(--vertical-spacing-larger);
    font-size: var(--font-size-larger);
    line-height: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease-in;
}

.button:hover {
    transform: scale(1.03);
}

#protea-button {
    background-color: rgb(167, 28, 28);
    color: white;
}

.jiggly {
    transition: transform 0.2s ease-in;
}

.jiggly:hover {
    transform: scale(1.03);
}