:root {
    --main-black: rgb(17, 16, 16);
    --main-faded: rgb(247, 247, 247);
    --main-grey: rgb(161, 161, 161);
    --horizontal-padding: 3vw;
    --vertical-spacing-larger: 3vh;
    --vertical-spacing-large: 2vh;
    --vertical-spacing-normal: 1vh;
    --vertical-spacing-slight: 0.5vh;
    --font-size-header: 1.62rem;
    --font-size-normal: 1rem;
    --font-size-larger: 1.2rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
    transition: opacity 0.3s ease-in;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: var(--horizontal-padding);
    padding-right: var(--horizontal-padding);
    height: 115vh;
}

.hero {
    padding-top: 30vh;
    padding-bottom: 20vh;
    font-size: var(--font-size-header);
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: column;
}

.lastseen {
    color: var(--main-grey);
    margin-bottom: var(--vertical-spacing-large);
}

.clickable {
    font-weight: 500;
    font-size: var(--font-size-larger);
    border-width: 0;
    border-bottom-width: 1.3px;
    width: max-content;
    border-color: var(--main-grey);
    border-style: solid;
}

.bottomsheet {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--main-faded);
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 var(--main-grey);
}

.shit {
    color: rgb(141, 141, 141);
    line-height: 20px;
    border-radius: 10px;
}

.hide {
    height: 61vh;
}

.footer {
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    top: 100%;
    margin-top: var(--vertical-spacing-larger);
    padding: var(--horizontal-padding);
    height: min-content;
    background-color: var(--main-faded);
    color: rgb(164, 164, 164);
}

.footer-links {
    margin-top: var(--vertical-spacing-larger);
    display: flex;
    justify-content: space-between;
}

.links-wrapper {
    display: flex;
}

.link {
    text-decoration: none;
    color: var(--main-black);
    font-weight: bold;
    font-size: var(--font-size-larger);
    margin-right: 3vw;
}

.bold {
    font-weight: bold;
}

.copyRight {
    font-size: var(--font-size-larger);
    color: var(--main-black);
}

.emoji-small {
    font-size: var(--font-size-normal);
}

.pop-in {
    animation: fadeInAnimation 1s ease 1, pop-in 0.2s ease-in 1;
}

.fade-in {
    animation: fadeInAnimation 2s ease 1;
}

.faded {
    opacity: 0.25;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop-in {
    50% {
        transform: scale(1.1);
    }
}

a {
    color: inherit;
}